annotated-types
anyio
asgiref
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
cirq
cirq-aqt
cirq-core
cirq-google
cirq-ionq
cirq-pasqal
cirq-rigetti
cirq-web
click
contourpy
cryptography
cycler
Deprecated
dill
Django==5.1.7
dnspython
docplex
dotenv
duet
exceptiongroup
fastapi==0.115.12
fastdtw
filelock
Flask
flask-cors
fonttools
frozendict
fsspec
google-api-core
google-auth
googleapis-common-protos
grpc-interceptor
grpcio
grpcio-status
gTTS
gunicorn
h11
h5py
httpcore
httpx
ibm-cloud-sdk-core
ibm-platform-services
idna
inflection
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
more-itertools
mpmath
msgpack
multitasking
Nasdaq-Data-Link
networkx
numpy
packaging
pandas
pbr
peewee
pillow
platformdirs
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyJWT
pymongo
pyparsing
pyquil
pyspnego
python-dateutil
python-dotenv
python-rapidjson
pytz
pyzmq
qcs-api-client-common
qcs-sdk-python
qiskit==1.4.2
qiskit-aer
qiskit-algorithms
qiskit-finance
qiskit-ibm-runtime
qiskit-machine-learning
qiskit-nature
qiskit-optimization
quil
requests
requests_ntlm
rpcq
rsa
ruamel.yaml
ruamel.yaml.clib
rustworkx
scikit-learn==1.6.1
scipy
six
sniffio
sortedcontainers
soupsieve
sqlparse
starlette
stevedore
symengine
sympy
threadpoolctl
torch==2.6.0
torchaudio
tqdm
TTS
types-Deprecated
typing_extensions
tzdata
urllib3
uvicorn
websocket-client
Werkzeug
wrapt
yfinance
